
<div growl></div>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Master User </h3>
  </div>
  <div class="panel-body">
    
	<div class='container-fluid' uib-collapse="tutupGrid" >
		<div>
			Cari Nama User : <input id='idCari' type='text' ng-model='search' ng-change='getAll()' >
			<!-- <input type='button' ng-click="checkValid()" value="checkValid" /> -->
				
			<input type='button' 				
					class='btn btn-primary btn-sm'
					ng-click='tambahUser()'				
					value="  Add New " 
					style='width:15em; height:3em'				
					/>
		</div>
		<br>
		<!-- ng-class='{red: hover}' ng-mouseenter="hover=true" ng-mouseleave="hover=false"  -->
		<!--  table-hover table-striped -->
		<table class="table table-bordered table-condensed table-hover table-striped">
			<thead>
				<tr>
					<td width="5%"><button class="btn btn-block btn-default" ng-click='urut("id")'>ID</button></td>
					<td width="10%"><button class="btn btn-block btn-default" ng-click='urut("userId")'>User ID</button></td>    
				    <td width="35%"><button class="btn btn-block btn-default" ng-click='urut("nama")'>Nama</button></td> 
				    <td width="15%"><button class="btn btn-block btn-default" ng-click='urut("nama")'>Gudang</button></td> 
				    <td width="20%"><button class="btn btn-block btn-default" ng-click='urut("status")'>status</button></td>
				    
				    
				</tr>	
			</thead>
			<tbody>
			<!-- | startFrom:currentPage*pageSize | limitTo:pageSize   -->
				<tr ng-repeat='user in users | orderBy:orderUser '>
					<td class='text-center'>{{user.id}}</td>				
					<td>{{user.userId}}</td>
				    <td>{{user.nama}}</td> 
				    <td>{{user.gudang.nama}}</td> 
				    <td><p class="text-center">{{user.status}}</p> </td> 
				    <td><button type='button' class='btn btn-warning btn-block btn-sm'
				    	ng-click='ubahUser(user.id,$index)'
				    	>Edit</button></td>
				    	    
				</tr>		
			</tbody>
		</table>

	        
	    <div class="row">
	        <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" 
	         	ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
	    </div>    
	</div>

	<div uib-collapse="!tutupGrid" ng-class='classForm' class='container-fluid' style='color:whitesmoke'  >
		<div>
			<h3 >Detil</h3>
			<hr>
			<form class="form-horizontal">		    
			    <div class="form-group form-group-sm">
			        <label for="id" class="col-sm-2 control-label">ID</label>
			        <div class="col-sm-2">
			        	<input type='text' class="form-control " ng-disabled='true' id="id" ng-model='user.id' />              
			        </div>
			    </div>
			    <div class="form-group form-group-sm">
			        <label for="userId" class="col-sm-2 control-label">userId</label>
			        <div class="col-sm-2">
			        	<input type='text'  ng-model='user.userId'  size="10" maxlength="10" class="form-control " id="userId" />            
			        </div>
			    </div>
			    <div class="form-group form-group-sm">
			        <label for="nama" class="col-sm-2 control-label">Nama</label>
			        <div class="col-sm-8">
			        	<input type='text' maxlength='90' ng-model='user.nama' size="60" maxlength="50" class="form-control " id="nama" />            
			        </div>
			    </div>
			    <div class="form-group form-group-sm">
			        <label for="password" class="col-sm-2 control-label">Password</label>
			        <div class="col-sm-5">
			        	<input type='password' ng-model='password' size="10" maxlength="10" class="form-control " id="password"/> 
							<span style='color:whitesmoke' ng-hide="pesanPassword">
								Kosongkan jika tidak ingin mengganti password
							</span>         
			        </div>
			    </div>
			    <div class="form-group form-group-sm">
			        <label for="Status" class="col-sm-2 control-label">Status</label>
			        <div class="col-sm-2">
			        	<select ng-model="user.status" ng-options="statusUser as statusUser for statusUser in statusUsers" class="form-control " id="Status"></select>            
			        </div>
			    </div>	
			    <div class="form-group form-group-sm">
			        <label for="gudang" class="col-sm-2 control-label">Gudang</label>
			        <div class="col-sm-10	">     
			        	<select ng-model="user.gudang" ng-options="gudang.nama for gudang in gudangs track by gudang.id" id="gudang" ></select>
			        	<!-- {{barang.satuan}} -->
			        </div>
				</div>		   
		    </form>
				
			<br>		

			<table border='0' >
				<thead>
					<tr >
						<td width='8%'></td>
						<td width='1%'></td>
						<td width='8%'></td>
						<td width='20%'></td>
						<td width='20%'></td>
					</tr>	
				</thead>			
				<tbody>
					<tr>
						<td><button class="btn btn-warning btn-block" ng-click='proses()'>Ok</button></td>
						<td></td>					
						<td><button class="btn btn-success btn-block" ng-click='tutupDetil()'>Close</button></td>
						<td></td>					
						<td></td>					
					</tr>
				</tbody>
			</table>
			

		</div>
		<br>
	</div>
  </div>
</div>



