<div growl></div> 
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{judul}}</h3>
	</div>
  	<div class="panel-body">
		<div class='container-fluid'  >
			<div>
				<form class="form-inline">	
					<div class="form-group">
			    		<label for="cariCust">Customer </label>
			    		<p class="input-group">
			    			<input 
				    			class="form-control input-sm" 
				    			id='cariCust' 
				    			type='text' 
				    			ng-model='search' >
				    	</p>
			  		</div>
					<div class="form-group ">
						<p class="input-group">
			    		<label for="tgl1">Tanggal </label>
			    		</p>
			    		<p class="input-group">
				          	<input 	type="text" 
				          			class="form-control input-sm" 
				          			uib-datepicker-popup="dd-MMM-yyyy" 
				          			ng-model="tgl1" 
				          			id="tgl1"
				          			size='15%'
				          			is-open="opened" 
				          			datepicker-options="dateOptions" 
				          			date-disabled="disabled(date, mode)" 
				          			ng-required="true" 
				          			close-text="Close" 
				          			alt-input-formats="altInputFormats" />
				          	<span class="input-group-btn">
				            	<button type="button" class="btn btn-info" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				          	</span>
				        </p>
			  		</div>	
			  		<div class="form-group ">
			  			<p class="input-group">
			    			<label for="tgl2">s/d</label>
			    		</p>
			    		<p class="input-group">
				          	<input 	type="text" 
				          			class="form-control input-sm" 
				          			uib-datepicker-popup="dd-MMM-yyyy" 
				          			ng-model="tgl2" 
				          			id="tgl2"
				          			size='15%'
				          			is-open="opened2" 
				          			datepicker-options="dateOptions" 
				          			date-disabled="disabled(date, mode)" 
				          			ng-required="true" 
				          			close-text="Close" 
				          			alt-input-formats="altInputFormats" />
				          	<span class="input-group-btn">
				            	<button type="button" class="btn btn-info" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				          	</span>
				        </p>
			  		</div>	
			  		<div class="form-group ">
			    		<label for="btnCari"></label>
			    		<p class="input-group">
				    		<input 
				    			type='button' 				
								class='btn btn-primary '
								ng-click='getAll()'						
								value="  search " 
								style='width:10em; height:3em'				
								/>			    		
							<input 
				    			type='button' 				
								class='btn btn-success '
								ng-click='tambahPenjualan()'						
								value="  Addnew " 
								style='width:10em; height:3em'				
								/>			    		
						</p>
			  		</div>	
			  	</form>					 								
			</div>
			<br>
			<table class="table table-bordered table-striped table-condensed table-hover" style="background-color:#D6EBFF"  >
				<thead>
					<tr>
						<td width="10%"><button class="btn btn-block btn-default" ng-click='urut("kode")'>ID</button></td>    
					    <td width="30%"><button class="btn btn-block btn-default" ng-click='urut("nama")'>Customer</button></td> 
					    <td width="15%"><button class="btn btn-block btn-default" ng-click='urut("nama")'>Tgl Trans</button></td> 
					    <td width="15%" align="center"><button class="btn btn-block btn-default" >Keterangan</button></td>	
					    <td width="10%" align="center"><button class="btn btn-block btn-default" >Status</button></td>
					    <td width="15%" ></td>
					    <!-- <td width="10%"></td> -->
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat='penjualan in penjualans | orderBy:orderpenjualan ' >
						<td>{{penjualan.id}}</td>				
					    <td>{{penjualan.customer.nama}}</td> 					
					    <td>{{penjualan.tglJual | date:'dd-MMM-yyyy'}}</td> 
					    <td>{{penjualan.keterangan}}</td> 	
					    <td>{{penjualan.statusJual}}</td> 
					    <td>
					    	<button 
					    		type='button' 
					    		class='btn btn-warning btn-block btn-ms'  	
					    		ng-click='ubahPenjualan(penjualan.id)'
					    		><span> Edit </span>
					    	</button>
					    </td>					      
					</tr>		
				</tbody>
			</table>
			<div class="row">
		        <uib-pagination total-items="totalItems" items-per-page="itemsPerPage" 
		         	ng-model="currentPage" ng-change="pageChanged()" max-size="10" boundary-links="true" rotate="false"></uib-pagination>
		    </div>
		</div>

  </div>
</div>
